.header {
    margin-top: 10px;
}

.header .logo {
    float: left;
}

.header .text {
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 65px;
    padding-left: 20px;
}

.body {
    margin-top: 10px;
}
