html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.global-container {
    margin: auto;
    max-width: 1000px;
    padding: 20px;
}

.header .logo {
    float: left;    
}

.header .text {
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 65px;
    padding-left: 20px;
}

.body {
    margin-top: 10px;
}
